@using la_mia_pizzeria_static.Models.Forms
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@model Pizza
<h1 style="text-align:center"> @Model.Name </h1>
<div class="container d-flex">

    <div style="width:50%;" >
        <img src="@Model.ImageAddress" style="width:500px"/>
    </div>

    <div style="width:50%;">
        
        <p style="color:gray;" >prezzo: @Model.Price </p>
        <h3>descrizione</h3>
        <p> @Model.Description</p>
        <h3>categoria</h3>
        <p style="color:green" > @Model.Category.Name </p>

        <h2> 
            ingredienti
        </h2>
        @foreach (var item in Model.Ingredients)
        {
            <span class="rounded-pill m-2 p-1" style="background-color:aqua;"> @item.Name  </span>
        }
    </div>
    


</div>
